* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -2px 2px 4px rgb(0 0 0 / 30%);
    min-width: 60%;
    max-height: 80vh;
    position: relative;
}
.main:before {
    top: 122px;
    content: '';
    left: 0;
    width: 100%;
    position: absolute;
    border-bottom: 2px solid lavenderblush;
}

.main:after {
    content: 'Thanks';
    position: absolute;
    width: 10%;
    height: 1.5vh;
    border-radius: 10px;
    background-color: #875a5ab5;
    left: 50%;
    bottom: 7px;
    font-size: 8px;
    text-align: center;
    color: #aa8a8a;
    transform: translateX(-50%);
}

.main:active::after {
    color: wheat;
}
.heading {
    text-align: center;
    margin: -12px 0 7px 0;
    font-family: serif;
    opacity: .7;
}

@media(min-width:200px) and (max-width:576px) {
    .main {
        width: 90%;
        max-height:90vh;
        margin-top:5%;
        overflow: hidden;
    }
    .wrapper {
        align-items:start;
    }
}

@media(min-width:577px) and (max-width:900px) {
    .main {
        width: 80%;
    }

}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



input[type="text"] {
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: 0;
    background-color: #eaf1fb;
    outline: none;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 5.1rem;
}

input[type="text"]:focus {
    background: white;
    box-shadow: 0 0 2px rgb(0 0 0 / 30%);
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.todobtn:active {
    transform: scale(1.03);
}

.todobtn:hover {
    background-color: #04AA6D;
}

.todobtn {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px 8px 8px 0px;
    border: 0;
    height: 32px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    padding: 0 16px;
    background-color: tan;
}

.check:checked .checklabel {
    text-decoration: line-through;
}

.status-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px;
    gap: 1vw;
    position: relative;
    width: 100%;
}

.status {
    color: darkslategrey;
    cursor: pointer;
    font-weight: 600;
}

.status-option button {
    background-color: #d33d3da8;
    font-size: inherit;
    color: #fff;
    border-radius: 6px;
    border: 0;
    width: 100%;
    max-height: 8vw;
    padding: 6px 8px;
}

.status-option button:hover {
    background-color: #bb1d1da9;
}

.status-option button:active {
    color: antiquewhite;
    background-color: #875a5a;
}

.status-live {
    display: flex;
    gap: 1vw;
}

.status:hover {
    text-decoration: underline 1px gray;
    color: darkblue;
}

.active {
    color: blue;
}

.todo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

label {
    display: flex;
    gap: 8px;
}

.todo-container {
    padding: 0 10px;
    max-height: 35vh;
    overflow: auto;
}

.todo-container-completed {
    padding: 0 10px;
    max-height: 16vh;
    overflow: auto;
}

.finished-task {
    position: relative;
    margin-top: 20px;
}

.finished-task:before {
    top: -16px;
    content: 'finished';
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    font-size: 50%;
    font-weight: 600;
    text-transform: capitalize;
    position: absolute;
    color: #fff;
    text-align: center;
    border: 2px solid lavenderblush;
    background: darkgrey;
    border-radius: 10px;
    z-index: 3;
}

.finished-task:after {
    top: -10px;
    content: '';
    left: 50%;
    width: 44%;
    transform: translateX(-50%);
    position: absolute;
    border-bottom: 2px solid lavenderblush;
}



input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

.text {
    width: 52vw;
}

input[type="checkbox"]:checked+p {
    text-decoration: line-through;
    opacity: .6;
}

.logo:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 80%;
    right: 8px;
    background: #fff;
    display: inline-block;
    border-radius: 4px;
}

.logo {
    height: 18px;
    width: 18px;
    background: #d8d8d8;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}

.logo::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background: #fff;
    display: inline-block;
    border-radius: 5px;
}

.logo:hover {
    box-shadow: 0 0px 2px rgb(0 0 0 / 30%);
    background-color: #8e7a0c76;
}

.logo:active {
    background-color: blueviolet;
}

.fixtodo {
    display: flex;
    cursor: pointer;
    position: relative;
}

.tasklogic {
    /* display:none; */
    position: absolute;
    height: 20px;
    width: 20px;
    border: 2px solid #d9b8aa;
    border-radius: 4px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .fixtodo:hover .tasklogic{
    display: block;
} */
.tasklogic:before {
    content: '';
    position: absolute;
    bottom: -33px;
    right: -24px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6.5px solid #5f7e3a;
    margin: 33px;
    transform: rotate(223deg);
}

.tasklogic:after {
    content: '';
    position: absolute;
    height: 5.5px;
    left: 6px;
    bottom: 7.8px;
    width: 10px;
    border-radius: 2px 0 0 2px;
    background: #0b7e40;
    transform: rotate(132deg);
}

.tasklogic:hover {
    box-shadow: 0 0px 2px rgb(0 0 0 / 30%);
    background-color: #8e7a0c76;
}

.tasklogic:active {
    background-color: rgb(28, 188, 151);
}

.message {
    color: maroon;
    text-align: center;
    font-family: system-ui;
}
::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 10px;
}